[submodule "profiles/all/modules/hosting_drush_aliases"]
	path = profiles/all/modules/hosting_drush_aliases
	url = http://git.drupal.org/project/hosting_drush_aliases.git
[submodule "profiles/all/modules/hosting_subdomains"]
	path = profiles/all/modules/hosting_subdomains
	url = http://git.drupal.org/project/hosting_subdomains.git
